*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.box{
    border: 2px solid #000;
    background-color: #ccc;
    height: 500px;
    margin: 20px 0;
    position: relative;
}

.text{
    padding: 20px;
    background-color: #000;
    color: #fff;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.title{
    text-align: center;
}

.title-1{
    font-size: 50px;
    margin: 25px 0 50px;
    top: 0;
    padding: 20px 0;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.title-1:hover{
color: blue;
}

.title-1::before,
.title-1::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    border-radius: 50%;

}

.title-1::after{
    content: '';
    right:0;
    left: auto;
}

.text-1{
    font-size: 20px;
    background-color: #ccc;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 70px;
    padding-right: 35px;
    border: 3px solid #000;
}

/* .text-1:hover{
    background-color: #000;
    color: #fff;
} */

.text-2{
    font-size: 18px;
    background-color: #ccc;
}

.text-3{
    font-style: italic;
}

.text-4{
    font-size: 14px;
    text-align: right;
}

.arrow{
    cursor:pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}
