*,
*::after,
*::before{
    box-sizing: border-box;
}

.container{
    max-width: 1920px;
}

.header{
    background-image: url('../images/header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 80%;
    height: 491px;  
}
