*,
*::after,
*::before {
  box-sizing: border-box;
}

/* font-family: "Roboto Condensed", serif;
font-family: "Raleway", serif; */
body {
  min-height: 100vh;
  font-family: "Roboto Condensed", serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: rgb(36, 33, 33);
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url("../images/header-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__menu-inner {
  display: flex;
  /* align-items: center; */
  padding-top: 35px;
}

.header__menu {
  margin-left: 185px;
  align-self: center;
}

.header__menu-item + .header__menu-item {
  margin-left: 43px;
}

.header__menu-list {
  display: flex;
}

.header__menu-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  padding: 0 1px 5px;
  transition: all 1s;
}

.header__menu-link:hover {
  border-bottom: 1px solid rgb(0, 178, 160);
}

.header__info-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__title {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  color: rgb(13, 48, 44);
  text-transform: uppercase;
  padding-top: 261px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgb(0, 0, 0);
  margin-bottom: 304px;
}

.header__info-logo {
  padding-bottom: 92px;
  margin: auto;
}

.about__title-inner {
  display: flex;
  justify-content: center;
  padding-top: 174px;
}

.title {
  font-family: "Raleway", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: rgb(1, 53, 62);
  text-transform: uppercase;
  padding-bottom: 15px;
}

.title__img {
  align-self: flex-end;
}

.about__text-inner {
  padding-top: 96px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 480px);
  grid-template-rows: repeat(4, 87px);
  gap: 30px 120px;
  margin-bottom: 200px;
}

.school {
  padding-bottom: 200px;
}

.school__title-inner {
  display: flex;
  justify-content: center;
  margin-bottom: 101px;
}

.school__learn-inner {
  display: flex;
  justify-content: center;
  margin-bottom: 102px;
}

.school__learn-group {
  margin-left: 74px;
}

.school__title-position {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.school__subtitle {
  align-self: center;
  margin-left: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgb(36, 33, 33);
}

.school__text {
  width: 358px;
  height: 68px;
}

.statistics-inner {
  position: relative;
}

.statistics {
  display: flex;
  flex-direction: column;
  flex: none;
  margin-left: 16px;
}

.first__travel {
  display: flex;
}

.percent {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: rgb(36, 33, 33);
  margin-left: 10px;
}

.vector-1 {
  width: 200px;
  height: 15px;
}
.vector-2 {
  width: 247px;
  height: 15px;
}
.vector-3 {
  width: 293px;
  height: 15px;
}

.school_information {
  display: flex;
}

.school__information-text {
  margin-left: 262px;
}

.school__information-text-item {
  width: 600px;
  height: 53px;
}

.school__information-top {
  margin-bottom: 30px;
}

.coaches__inner {
  display: flex;
  min-height: 100vh;
}

.coaches__title {
  white-space: nowrap;
}

.coaches__title-inner {
  display: flex;
  width: 552px;
  text-align: center;
  padding-top: 200px;
}

.coaches__img-dash {
  margin-bottom: 41px;
  margin-top: 20px;
}

.coaches__images {
  max-width: 960px;
  max-height: 850px;
  margin-left: 41px;
  margin-bottom: 200px;
}

.coaches__text {
  margin-bottom: 30px;
  width: 507px;
}

.gallery__title-inner {
  display: flex;
  justify-content: center;
  margin-bottom: 98px;
}

.gallery__btn + .gallery__btn {
  margin-left: 20px;
}

.gallery__menu {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
}

.gallery__btn {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: rgb(36, 33, 33);
  transition: all 1s;
}

.gallery__btn:hover {
  color: #00b2a0;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.gallery__content-inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 40px;
  justify-content: start;
  position: relative;
  margin-bottom: 50px;
}

.gallery__btn {
  border-style: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: rgb(36, 33, 33);
  text-transform: uppercase;
}

.gallery__image-1 {
  width: 580px;
  height: 280px;
}
.gallery__image-2 {
  width: 290px;
  height: 280px;
}
.gallery__image-3 {
  width: 250px;
  height: 280px;
  justify-content: end;
}
.gallery__image-4 {
  width: 240px;
  height: 280px;
}

.gallery__image-5 {
  width: 290px;
  height: 280px;
  position: absolute;
  left: 280px;
}
.gallery__image-6 {
  width: 580px;
  height: 280px;
  position: absolute;
  left: 610px;
}

.gallery__btn-add {
  width: 350px;
  height: 70px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  margin: 0 auto 200px;
  display: block;
}

.gallery__blockquote {
  background-color: #f8f8f8;
}

.blockquote {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: rgb(36, 33, 33);
  text-align: center;
  padding: 80px 0 80px;
  margin-bottom: 200px;
}

.blockquote__author {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: rgb(36, 33, 33);
  display: block;
  margin-left: 620px;
}

.gallery__video-inner {
  background-image: url("../images/gallery/gallery-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.gallery__info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 198px;
}

.gallery__info-item + .gallery__info-item {
  margin-left: 100px;
}

.gallery__info-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: rgb(1, 53, 62);
}

.blog__title{
  margin-bottom: 229px;
}

.blog__title-inner{
  display: flex;
  justify-content: center;
}

.blog__gallery{
  background-image: url('../images/blog/blog-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
}

.blog__slider-item{
  padding: 314px 0 259px 601px;
}


.blog__slider-title{
  text-decoration: none;
}

.slider-title{
font-weight: 400;
font-size: 48px;
line-height: 56px;
color: rgb(255, 255, 255);
max-width: 579px;
display: inline-block;
}

.blog_slider-text{
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
}

.blog__slider-inner .slick-dots{
 display: flex;
 justify-content: center;
 margin-bottom: 200px;
}

.slick-dots li + li{
  margin-left: 15px;
}

.slick-dots button{
  width: 15px;
  height: 15px;
  font-size: 0;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0;
  margin-bottom: 77px;
  
}

.slick-dots .slick-active button{
  background-color: rgb(0, 178, 160);
}

.team__title-inner{
  display: flex;
  justify-content: center;
  margin-bottom: 212px;
}

.team__photo{
  display: flex;
  justify-content: flex-end;
}

.team__photo-item + .team__photo-item{
  margin-left: 105px;
}

.team__name{
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: rgb(36, 33, 33);
}

.team__photo-item{
  display: flex;
  text-align: center;
  flex-direction:  column;
}

.team__img{
  margin-bottom: 25px;
}

.team__profession{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgb(36, 33, 33);
  margin-bottom: 204px;
}

.price{
  background-color:#F8F8F8 ;
}

.price__title-inner{
  display: flex;
  justify-content: center;
  padding: 200px 0 212px;
}

.price__items{
  display: flex;
  justify-content: space-between;
}

.price__items .price__item{
  background-color: #FFFFFF;
  width: 360px;
  margin-bottom: 200px;
}

.price__name{
Font-weight: 400;
Font-size: 36px;
line-height: 40px;
letter-spacing: 0px;
color: rgb(1, 53, 62);
margin-bottom: 58px;
text-align: center;
padding-top: 45px;
}

.price__item-element{
  font-weight: 400;
  color: rgb(36, 33, 33);
  padding: 0 0 20px 31px;
}

.price__num{
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0;
  color: rgb(1, 53, 62);
  text-align: center;
  padding: 41px 0 45px;
}

.price .price__item .price__num span{
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  color: rgb(1, 53, 62);
  vertical-align: middle;
}

.price__num-standart{
padding-top: 117px;
}

.price__map{
  background-color: #FFFFFF;
  /* padding: 200px 224px; */
  padding: 200px 0 200px;
  background-image: url('../images/price/price-map.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 1040px;
}

.price__pointer-img{
  margin: 0 auto;
  padding-top: 103px;
}

.connection__title-inner{
  display: flex;
  justify-content: center;
  margin-bottom: 243px;
}

.connection__inner{
  display: flex;
  height: 460px;
}

.form{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 569px;
}

.form input,
.form textarea{
  border: none;
  border-bottom: 2px solid rgb(218, 218, 218) ;
}
.form input::placeholder,
.form textarea::placeholder{

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: rgb(0, 178, 160);
}

.form textarea{
  margin-bottom: 73px;
  padding: 55px 309px 100px 0;
  overflow: hidden;
  resize: none;
}

.connection__button{
  margin-bottom: 200px;
  max-width: 350px;
  padding: 24px 0 23px;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: rgb(36, 33, 33);
}

.name{
  padding-bottom: 20px;
}

.number{
  padding: 34px 0 18px;
}

.connection__info{
  margin-left: 31px;
  background-color: rgb(248, 248, 248);
  width: 600px;
  
}

.one{
  padding: 49px 0 65px;
}

.two{
  padding-bottom: 65px;
}

.connection__info p{
  padding-left:52px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: rgb(36, 33, 33);
}

.social__network{
text-align: center;
padding: 200px 0 200px;
}

.social__network span + span{
  margin-left: 10px;
}

.instagram,
.facebook,
.youtube{
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: rgb(36, 33, 33);
}

.facebook{
color:rgb(0, 178, 160);
}

.footer{
  background-color: rgb(0, 178, 160);
}

.footer__logo img{
  margin: 0 auto;
  padding: 89px 0 69px; 
}