*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-style: 14px;
  font-style: normal;
  line-height: 24px;
  color: rgb(55, 58, 57);

  /* font-family: "Raleway", serif;
  font-family: "Montserrat", serif;
  font-family: "Merriweather", serif; */
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
  font-family: "Montserrat", serif;
  letter-spacing: -1.65px;
  color: rgb(36, 33, 33);
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after{
  content:"";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: rgb(252, 187, 8);
  bottom: 0;
  left: 0;
}

.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 32px;
}

.menu__list-link {
  padding: 0 9px 9px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: rgb(55, 58, 57);
  font-weight: 700;
  font-family: "Raleway", serif;
  letter-spacing: 0.6px;
  transition: all 5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid rgb(252, 187, 8);
}

.header__content {
  background-image: url("../images/header-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", serif;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 93px);
}

.header__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: rgb(255, 255, 255);
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 180px;
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74px;
  color: rgb(252, 187, 8);
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 62px;
}

.about {
  background-color: rgb(246, 248, 250);
  padding: 150px 0 144px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title{
  font-size: 48px;
}

.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}
