body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.treasure-map {
  width: 400px;
  height: 400px;
  background-image: url("/images/map-1.jpg");
  background-size: cover;
  position: relative;
  cursor: pointer;
}

p {
  font-size: 40px;
  color: brown;
  margin-left: 60px;
}
